{% extends 'base.html.twig' %}
{% block title %}Research database -> archives{% endblock %}
{% block body %}

    <div id="index_area">
        <h1>Institutions <a href="{{ path('institution_create') }}" title="Add new institution" alt="Add new institution"><img src="{{ asset('images/add_18.png') }}"></a></h1>
            <ul>
                {% for institution in all_institutions %}
                    <li>
                        <a href="{{ path('institution_view', {'institution_id':institution.id}) }}">{{ institution.name }}</a>
                        <a href="{{ path('institution_delete', {'institution_id':institution.id}) }}" onclick="return confirmDelete('institution');"><img src="{{ asset('images/delete.png') }}" title="delete" alt="delete"></a>
                    </li>
                {% endfor %}
            </ul>
    </div>
{% endblock %}