{# templates/form/childArchiveForm.html.twig #}

{% block _archive_entry_widget %}
<p>
    {{ form_label(form.name) }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_help(form.name) }}
</p>
<p>
    {{ form_label(form.abbreviation) }}
    {{ form_errors(form.abbreviation) }}
    {{ form_widget(form.abbreviation) }}
    {{ form_help(form.abbreviation) }}
</p>
<p>
    {{ form_label(form.place) }}
    {{ form_errors(form.place) }}
    {{ form_widget(form.place) }}
    {{ form_help(form.place) }}
</p>
{% endblock %}
