{# templates/form/actionform.html.twig #}

{% block _actor_occupations_entry_widget %}
        <p>
            {{ form_label(form.occupation) }}
            {{ form_errors(form.occupation) }}
            {{ form_widget(form.occupation) }}
            {{ form_help(form.occupation) }}
            {{ form_widget(form.occupation_text) }}

        </p>
        <p>
            {{ form_label(form.institution) }}
            {{ form_errors(form.institution) }}
            {{ form_widget(form.institution) }}
            {{ form_help(form.institution) }}
            {{ form_widget(form.institution_text) }}

        </p>
        <p>
            {{ form_label(form.text_start_date) }}
            {{ form_errors(form.text_start_date) }}
            {{ form_widget(form.text_start_date) }}
            {{ form_help(form.text_start_date) }}
        </p>
        <p>
            {{ form_label(form.text_end_date) }}
            {{ form_errors(form.text_end_date) }}
            {{ form_widget(form.text_end_date) }}
            {{ form_help(form.text_end_date) }}
        </p>
    </li>
{% endblock %}
