{# templates/form/volumeForm.html.twig #}

{% block _importURL_widget %}
<p>
    {{ form_label(form.url) }}
    {{ form_errors(form.url) }}
    {{ form_widget(form.url) }}
    {{ form_help(form.url) }}
</p>
<p>
    {{ form_widget(form.submit) }}
</p>
{% endblock %}