{# templates/form/actionform.html.twig #}

{% block _institution_new_place_row %}
    <div id="newInstitutionPlace">
        <p>
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_help(form.name) }}
        </p>
        <p>
            {{ form_label(form.type) }}
            {{ form_errors(form.type) }}
            {{ form_widget(form.type) }}
            {{ form_help(form.type) }}
        </p>
        <p>
            {{ form_label(form.lng) }}
            {{ form_errors(form.lng) }}
            {{ form_widget(form.lng) }}
            {{ form_help(form.lng) }}
        </p>
        <p>
            {{ form_label(form.lat) }}
            {{ form_errors(form.lat) }}
            {{ form_widget(form.lat) }}
            {{ form_help(form.lat) }}
        </p>
        <p>
            {{ form_label(form.parent) }}
            {{ form_errors(form.parent) }}
            {{ form_widget(form.parent) }}
            {{ form_help(form.parent) }}
        </p>

    </div>
{% endblock %}
