{% block _form_foundActors_row %}
    <h2>Found actors</h2>
<ul>
    {{ form_widget(form) }}
</ul>
{% endblock %}

{% block _form_foundPlaces_row %}
    <h2>Found places</h2>

    <ul>
        {{ form_widget(form) }}
    </ul>
{% endblock %}

{% block _form_foundActors_entry_row %}
    <li>
        {{ form.vars.data.name }}
        {{ form_widget(form.actorId) }}
        {{ form_widget(form.type) }}
    </li>
{% endblock %}

{% block _form_foundPlaces_entry_row %}
    <li>
        {{ form.vars.data.name }}
        {{ form_widget(form.placeId) }}
        {{ form_widget(form.type) }}
        {{ form_widget(form.startPos) }}
        {{ form_widget(form.endPos) }}
    </li>
{% endblock %}