{% extends 'base.html.twig' %}
{% block title %}Research database -> archives{% endblock %}
{% block body %}

    <div id="index_area">
        <h1>Topics</h1>
            <ul>
                {% for topic in all_topics %}
                    <li>
                        <a href="{{ path('topic_view', {'topic_id':topic.id}) }}">{{ topic.topic }}</a> ({{ topic.numberOfSources }})
                        <a href="{{ path('topic_delete', {'topic_id':topic.id}) }}" onclick="return confirmDelete('topic');"><img src="{{ asset('images/delete.png') }}" title="delete" alt="delete"></a>
                    </li>
                {% endfor %}
            </ul>
    </div>

    <h3>Create new Topic</h3>
    <ul>
        <li>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </li>
    </ul>
{% endblock %}