{% extends 'base.html.twig' %}

{% block title %}Research database -> actors -> {{ actor.firstName }} {{ actor.surname }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('js/jquery-ui-1.12.1/jquery-ui.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('js/jquery-ui-1.12.1/jquery-ui.theme.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('js/jquery-ui-1.12.1/jquery-ui.structure.css') }}">
{% endblock %}

{% block body %}
    {% form_theme form.primaryRelationships 'form/editRelationshipForm.html.twig' %}
    {% form_theme form.secondaryRelationships 'form/editRelationshipForm.html.twig' %}
    {% form_theme form.occupations 'form/editOccupationForm.html.twig' %}
    {% form_theme form.places 'form/editPlaceForm.html.twig' %}



    <script type="text/javascript">
        function confirmDelete() {
            return confirm('Are you sure you want to delete this actor?');
        }
    </script>

        {{ form_errors(form) }}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <div id="tabs">
        <div id="action_menu">
            <a href="{{ path('actor_view', {'actor_id':actor.id}) }}" onclick="return confirmClose($('form[name="actor"]'))"><img class="icon" src="{{ asset('images/close.gif') }}" title="close" alt="close"/></a>
            <input type="image" class="save_button" src="{{ asset('images/save.png') }}" alt="submit" name="submit" />
        </div>
        <ul>
            <li><a href="#tabs-1">Biodata</a></li>
            <li><a href="#tabs-2">Description</a></li>
            <li><a href="#tabs-3">Research notes</a></li>
            <li><a href="#tabs-4">Occupations</a></li>
            <li><a href="#tabs-5">Places</a></li>
        </ul>

        {# ***********  TAB 1 ********************** #}
        <div id="tabs-1" class="form-style-10">
             <div class="inner-wrap">
                <div class="top_section">
                    <p>
                        {{ form_label(form.first_name) }}
                        {{ form_errors(form.first_name) }}
                        {{ form_widget(form.first_name) }}
                        {{ form_help(form.first_name) }}

                        {{ form_label(form.surname) }}
                        {{ form_errors(form.surname) }}
                        {{ form_widget(form.surname) }}
                        {{ form_help(form.surname) }}
                     </p>
                    <p>
                        {{ form_label(form.alt_first_names) }}
                        {{ form_errors(form.alt_first_names) }}
                        {{ form_widget(form.alt_first_names) }}
                        {{ form_help(form.alt_first_names) }}

                        {{ form_label(form.alt_surnames) }}
                        {{ form_errors(form.alt_surnames) }}
                        {{ form_widget(form.alt_surnames) }}
                        {{ form_help(form.alt_surnames) }}
                    </p>
                    <p>
                        {{ form_label(form.gender) }}
                        {{ form_errors(form.gender) }}
                        {{ form_widget(form.gender) }}
                        {{ form_help(form.gender) }}
                    </p>
                     <p>
                        {{ form_label(form.text_birthdate) }}
                        {{ form_errors(form.text_birthdate) }}
                        {{ form_widget(form.text_birthdate) }}
                        {{ form_help(form.text_birthdate) }}

                        {{ form_label(form.birth_place) }}
                        {{ form_errors(form.birth_place) }}
                        {{ form_widget(form.birth_place) }}
                        {{ form_help(form.birth_place) }}
                         {{ form_widget(form.birth_place_text) }}
                     </p>
                    <p>
                        {{ form_label(form.text_date_of_death) }}
                        {{ form_errors(form.text_date_of_death) }}
                        {{ form_widget(form.text_date_of_death) }}
                        {{ form_help(form.text_date_of_death) }}

                        {{ form_label(form.place_of_death) }}
                        {{ form_errors(form.place_of_death) }}
                        {{ form_widget(form.place_of_death) }}
                        {{ form_help(form.place_of_death) }}
                        {{ form_widget(form.place_of_death_text) }}

                    </p>

                    <script>
                        $(window).on('load', placeAutocomplete($('#actor_birth_place_text'), $('#actor_birth_place'),'{{ path('place_autocomplete') }}'));
                        $(window).on('load', placeAutocomplete($('#actor_place_of_death_text'), $('#actor_place_of_death'),'{{ path('place_autocomplete') }}'));
                    </script>

                    <div class="section">
                    <h3 class="relationshipsHeader">Edit actor relationships </h3>
                    <ul id="relationships" data-prototype="{{ form_widget(form.primaryRelationships.vars.prototype)|e('html_attr') }}">
                        {% set index = 0 %}
                        {% for editRelationshipForm in form.primaryRelationships %}
                            <li class="relationshipForm">
                                <span>{{ loop.index }}</span>
                                {{ form_widget(editRelationshipForm) }}
                                {% if loop.last %}
                                    {% set index = loop.index %}
                                {% endif %}
                            </li>
                        {% endfor %}
                        {% for editRelationshipForm in form.secondaryRelationships %}
                            <li class="relationshipForm">
                                <span>{{ loop.index + index }}</span>
                                {{ form_widget(editRelationshipForm) }}
                            </li>
                        {% endfor %}
                     </ul>
                    </div>
                  </div>

             </div>
        </div>

        {# ***********  TAB 2 ********************** #}
        <div id="tabs-2">
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_help(form.description) }}
        </div>

        {# ***********  TAB 3 ********************** #}
        <div id="tabs-3">
            {{ form_errors(form.research_notes) }}
            {{ form_widget(form.research_notes) }}
            {{ form_help(form.research_notes) }}
        </div>


        {# ***********  TAB 4 ********************** #}
        <div id="tabs-4" class="form-style-10">
            <div class="inner-wrap">
                <div class="top_section">
                    <h3 class="occupationsHeader">Occupations</h3>
                    <ul id="occupations" data-prototype="{{ form_widget(form.occupations.vars.prototype)|e('html_attr') }}">
                    {% for editOccupationForm in form.occupations %}
                        <li class="occupationForm">
                            <span>{{ loop.index }}</span>
                            {{ form_widget(editOccupationForm) }}
                        </li>
                        <script>
                            institutionAutocomplete($('#actor_occupations_{{ loop.index0 }}_institution_text'), $('#actor_occupations_{{ loop.index0 }}_institution'), '{{ path('institution_autocomplete') }}')
                            occupationAutocomplete($('#actor_occupations_{{ loop.index0 }}_occupation_text'), $('#actor_occupations_{{ loop.index0 }}_occupation'), '{{ path('occupation_autocomplete') }}')
                        </script>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        {# ***********  TAB 5 ********************** #}
        <div id="tabs-5" class="form-style-10">
             <div class="inner-wrap">
                <div class="top_section">
                    <h3 class="placesHeader">Places</h3>
                    <ul id="places" data-prototype="{{ form_widget(form.places.vars.prototype)|e('html_attr') }}">
                        {% for editPlaceForm in form.places %}
                            <li class="placeForm">
                                <span>{{ loop.index + index }}</span>
                                {{ form_widget(editPlaceForm) }}
                            </li>
                            <script>
                                placeAutocomplete($('#actor_places_{{ loop.index0 }}_place_text'), $('#actor_places_{{ loop.index0 }}_place'), '{{ path('place_autocomplete') }}');
                            </script>





                        {% endfor %}
                    </ul>
                </div>
             </div>
        </div>
            {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# Editing scripts#}
    <script src="{{ asset('js/jquery-ui-1.12.1/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/editFunctions.js') }}"></script>
    <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>

    {# ---------------------------------------- #}

{% endblock %}

{% block customJavascripts %}
    <script>
        tinymce.init({
            selector: 'textarea.tinymce',  // change this value according to your HTML
            toolbar: 'undo redo | styleselect | bold italic | link image'
        });
    </script>

    {# Page specific javascript#}
    {{ include('actor/edit.js.twig') }}

{% endblock %}