<script>


    $( function() {
    $( "#tabs" ).tabs()
} );


    var frm = $('form[name="source"]');
    frm.trackChanges();
    {# TODO: Fix source change tracking.#}


    var $collectionHolder, $collectionHeader, $occupationHolder, $occupationHeader, $placeHolder, $placeHeader;

    // setup an "add a tag" link
    var $addRelationshipButton = $('<a href="#" class="add_relationship_link"><img src="{{ asset('images/add_18.png') }}" alt="Add relationship" title ="Add relationship"/></a>');
    var $addOccupationButton = $('<a href="#" class="add_occupation_link"><img src="{{ asset('images/add_18.png') }}" alt="Add occupation" title ="Add occupation"/></a>');
    var $addPlaceButton = $('<a href="#" class="add_place_link"><img src="{{ asset('images/add_18.png') }}" alt="Add place" title ="Add place"/></a>');

    jQuery(document).ready(function() {
    /******************/
    /* Set up relationships */
    /******************/

    // Get the ul that holds the collections
    $collectionHolder = $('ul#relationships');
    $collectionHeader = $('h3.relationshipsHeader');

    $occupationHolder = $('ul#occupations');
    $occupationHeader = $('h3.occupationsHeader');

    $placeHolder = $('ul#places');
    $placeHeader = $('h3.placesHeader');


    // add the "add a tag" anchor and li to the tags ul
    $collectionHeader.append($addRelationshipButton);
    $occupationHeader.append($addOccupationButton);
    $placeHeader.append($addPlaceButton);


    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find('li.relationshipForm').length);
    $occupationHolder.data('index', $occupationHolder.find('li.occupationForm').length);
    $placeHolder.data('index', $placeHolder.find('li.placeForm').length);


    $addRelationshipButton.on('click', function(e) {
        // add a new tag form (see next code block)
        addForm($collectionHolder);

        index = $collectionHolder.data('index') -1;
        actorAutocomplete($('#actor_primaryRelationships_'+index+'_actor2_text'), $('#actor_primaryRelationships_'+index+'_actor2'), '{{ path('actor_autocomplete')}}')


        $(function(){
            function log( message ) {
                $( "<div>" ).text( message ).prependTo( "#log" );
                $( "#log" ).scrollTop( 0 );
                }

                $(".actorRelationshipInput").each(function() {
                $(this).autocomplete({
                source: "{{ path('actor_autocomplete') }}",
                minLength: 2,
                select: function( event, ui ) {
                log( ui.item ?
                "Selected: " + ui.item.value + " aka " + ui.item.id :
                "Nothing selected, input was " + this.value );
            },
            change: function( event, ui ) {
                $(this).val( ui.item? ui.item.value : "" );
        }
    });
});
});

});

    $addOccupationButton.on('click', function(e) {
        // add a new tag form (see next code block)
        addForm($occupationHolder);
        index = $occupationHolder.data('index') -1;
        institutionAutocomplete($('#actor_occupations_'+index+'_institution_text'), $('#actor_occupations_'+index+'_institution'), '/autocomplete/institution');
        occupationAutocomplete($('#actor_occupations_'+index+'_occupation_text'), $('#actor_occupations_'+index+'_occupation'), '/autocomplete/occupation');
    });

    $addPlaceButton.on('click', function(e) {
    // add a new tag form (see next code block)
    addForm($placeHolder);
    index = $placeHolder.data('index') -1;
    placeAutocomplete($('#actor_places_'+index+'_place_text'), $('#actor_places_'+index+'_place'), '/autocomplete/place');

});

    $collectionHolder.find('li').each(function() {
    addDeleteLink($(this));
});

    $occupationHolder.find('li').each(function() {
    addDeleteLink($(this));
});

    $placeHolder.find('li').each(function() {
    addDeleteLink($(this));
});


});

    function addDeleteLink($tagFormLi) {
    var $removeFormButton = $('<a href="#">delete</a>');
    $tagFormLi.append($removeFormButton);

    $removeFormButton.on('click', function(e) {
    // remove the li for the tag form
    $tagFormLi.remove();
});
}

    function addForm($collectionHolder) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    var newForm = prototype;
    newForm = newForm.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $collectionHolder.append($newFormLi);
    // add a delete link to the new form
    addDeleteLink($newFormLi);
}

    $(function(){
    function log( message ) {
        $( "<div>" ).text( message ).prependTo( "#log" );
        $( "#log" ).scrollTop( 0 );
    }

    $(".placeInput").each(function() {
    $(this).autocomplete({
    source: "{{ path('place_autocomplete') }}",
    minLength: 2,
    select: function( event, ui ) {
    log( ui.item ?
    "Selected: " + ui.item.value + " aka " + ui.item.id :
    "Nothing selected, input was " + this.value );
},
    change: function( event, ui ) {
    $(this).val( ui.item? ui.item.value : "" );
}
});
});
});

</script>