{% extends 'base.html.twig' %}
{% block title %}Research database -> actors{% endblock %}
{% block body %}

    <div id="index_area">
        <h1>Actors</h1>
            <ul>
                {% for actor in all_actors %}
                    <li><a href="{{ path('actor_view', {'actor_id':actor.id}) }}">{{ actor.firstName }} {{ actor.surname }}</a> ({{ actor.birthYear }} – {{ actor.deathYear }})</li>
                {% endfor %}
            </ul>
        <a href="{{ path('actor_create') }}">Create new actor</a>
    </div>

    <div id="childForms">
        {% if alvinImportForm is defined %}
            <h3>Import actor from Alvin</h3>
            {{ form_start(alvinImportForm, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(alvinImportForm) }}
            {{ form_widget(alvinImportForm._token) }}
            {{ form_end(alvinImportForm, {'render_rest': false}) }}
        {% endif %}
    </div>

{% endblock %}

