{% extends 'base.html.twig' %}
{% block title %}Research database -> archives{% endblock %}
{% block body %}

    <div id="index_area">
        <h1>Occupations</h1>
            <ul>
                {% for occupation in all_occupations %}
                    <li>
                        <a href="{{ path('occupation_view', {'occupation_id':occupation.id}) }}">{{ occupation.name }}</a>
                        <a href="{{ path('occupation_delete', {'occupation_id':occupation.id}) }}" onclick="return confirmDelete('occupation');"><img src="{{ asset('images/delete.png') }}" title="delete" alt="delete"></a>
                    </li>
                {% endfor %}
            </ul>
    </div>

    <h3>Create new occupation</h3>
    <ul>
        <li>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </li>
    </ul>
{% endblock %}