{% block mentionsPreview %}
    <li id="mention{{ loop.index0 }}_preview" class="mention_preview">
        {{ mention.previewText }}
        <a href="#" onclick="toggleVisible($('#mention{{ loop.index0 }}'), $('.mention'));toggleVisible($('#mentionCheckBoxes{{ loop.index0 }}'), $('.mentionCheckBoxes')); actorAutocomplete($('#source_mentions_{{ loop.index0 }}_actorText'), $('#source_mentions_{{ loop.index0 }}_actor'),'{{ path('actor_autocomplete') }}'); placeAutocomplete($('#source_mentions_{{ loop.index0 }}_eventPlaceText'), $('#source_mentions_{{ loop.index0 }}_eventPlace'),'{{ path('place_autocomplete') }}');institutionAutocomplete($('#source_mentions_{{ loop.index0 }}_institutionText'), $('#source_mentions_{{ loop.index0 }}_institution'),'{{ path('institution_autocomplete') }}');">[edit]</a>
    </li>
{% endblock %}