<script>

$( function() {
    $( "#tabs" ).tabs();
} );
$( function() {
    $( "#tabs2" ).tabs();
} );

var frm = $('form[name="source"]');
frm.trackChanges();
// TODO: Fix source change tracking.

var $collectionHolder, $collectionHeader, $topicHolder, $newTopicSpan, $mentionsHolder, $mentionsHeader;

// setup an "add a tag" link
var $addActionButton = $('<a href="#" class="add_action_link"><img src="{{ asset('images/add_18.png') }}" alt="Add source action" title ="Add source action"/></a>');
var $addTopicButton = $('<a href="#" class="add_topic_link"><img src="{{ asset('images/add_18.png') }}" alt="Add source topic" title ="Add source topic"/></a>');
var $addMentionButton = $('<a href="#" class="add_mention_link"><img src="{{ asset('images/add_18.png') }}" alt="Add source mention" title ="Add source mention"/></a>');


var $newLinkLi = $addActionButton;
var $newMentionsLi = $('<li></li>');

jQuery(document).ready(function() {
    /******************/
    /* Set up actions */
    /******************/

    // Get the ul that holds the collection of tags
    $collectionHolder = $('ul#sourceActions');
    $collectionHeader = $('h3.actionsHeader');
    // add the "add a tag" anchor and li to the tags ul
    $collectionHeader.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addActionButton.on('click', function(e) {
        // add a new tag form (see next code block)
        addActionForm($collectionHolder);
    });

    $collectionHolder.find('li').each(function() {
        addActionFormDeleteLink($(this));
    });

    /******************/
    /* Set up topics  */
    /******************/
    $newTopicSpan = $('#newTopic');
    $topicHolder = $('#sourceTopics');
    $topicHolder.data('index', $topicHolder.find('input').length);

    $addTopicButton.on('click', function(e) {
        // add a new topic form (see next code block)
        addTopicForm($topicHolder, $newTopicSpan);
    });
    $newTopicSpan.append($addTopicButton);

    $topicHolder.find('span').each(function() {
        addTopicFormDeleteLink($(this));
    });

    /*******************/
    /* Set up mentions */
    /*******************/

    $mentionsHolder = $('ul#sourceMentions');
    $mentionsHeader = $('h3.mentionsHeader');

    $mentionsHeader.append($addMentionButton);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $mentionsHolder.data('index', $mentionsHolder.find('li').length/3);


    $mentionsHolder.find('li.mention_preview').each(function() {
        addMentionFormDeleteLink($(this));
    });

    $mentionsHolder.find('li.mentionCheckBoxes').each(function(){
        var $actorCheck = $(this).find('input.actorCheck');
        if($actorCheck.is(':checked')){
            $actorCheck.parent().parent().next().find('.editActorMentionDropdown').attr('style','table-row')
        }
        var $institutionCheck = $(this).find('input.institutionCheck');
        if($institutionCheck.is(':checked')){
            $institutionCheck.parent().parent().next().find('.editInstitutionMentionDropdown').attr('style','table-row')
        }
        var $placeCheck = $(this).find('input.placeCheck');
        if($placeCheck.is(':checked')){
            $placeCheck.parent().parent().next().find('.editPlaceMentionDropdown').attr('style','table-row')
        }
        var $eventPlaceCheck = $(this).find('input.eventPlaceCheck');
        if($eventPlaceCheck.is(':checked')){
            $eventPlaceCheck.parent().parent().next().find('.editEventPlaceMentionDropdown').attr('style','table-row')
        }
        var $sourceCheck = $(this).find('input.sourceCheck');
        if($sourceCheck.is(':checked')){
            $sourceCheck.parent().parent().next().find('.editSourceMentionDropdown').attr('style','table-row')
        }


    });

    $addMentionButton.on('click', function(e) {
        // add a new tag form (see next code block)
        addMentionForm($mentionsHolder);

    });



});

function addActionForm($collectionHolder) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    var newForm = prototype;
    newForm = newForm.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li class="actionForm"></li>').append(newForm);
    $collectionHolder.append($newFormLi);
    // add a delete link to the new form
    addActionFormDeleteLink($newFormLi);

    correspondentAutocomplete($('#source_actions_'+index+'_correspondentText'), $('#source_actions_'+index+'_correspondent'), 'http://127.0.0.1:8000/autocomplete/correspondent');
    placeAutocomplete($('#source_actions_'+index+'_placeText'), $('#source_actions_'+index+'_place'), 'http://127.0.0.1:8000/autocomplete/place');

    correspondentAutocomplete($('#source_mentions_'+index+'_actorText'), $('#source_mentions_'+index+'_actor'),'{{ path('actor_autocomplete') }}');
    placeAutocomplete($('#source_mentions_'+index+'_eventPlaceText'), $('#source_mentions_'+index+'_eventPlace'),'{{ path('place_autocomplete') }}');
}

function addActionFormDeleteLink($tagFormLi) {
    var $removeFormButton = $('<a href="#">delete</a>');
    $tagFormLi.append($removeFormButton);

    $removeFormButton.on('click', function(e) {
        // remove the li for the tag form
        $tagFormLi.remove();
    });
}

function addTopicForm($topicHolder) {
    // Get the data-prototype explained earlier
    var prototype = $topicHolder.data('prototype');

    // get the new index
    var index = $topicHolder.data('index');

    var newForm = prototype;
    newForm = newForm.replace(/__name__/g, index);

    // Display the form in the page in an li, before the "Add a tag" link li

    var $newFormLi = $('<span class="source_topic"></span>').append(newForm);
    var textContent = $('#new_source_topic_topic').val();
    $newFormLi.append(textContent);

    // increase the index with one for the next item
    $topicHolder.data('index', index + 1);

    $topicHolder.append($newFormLi);

    // set the correct value of the new topic
    $('#source_sourceTopics_' + index + '_topic').val($('#new_source_topic_topicId').val());

    $('#new_source_topic_topicId').val("");
    $('#new_source_topic_topic').val("");

    // add a delete link to the new form
    addTopicFormDeleteLink($newFormLi);
}

function addTopicFormDeleteLink($topicFormLi) {
    var $removeFormButton = $('<a href="#"> x</a>');
    $topicFormLi.append($removeFormButton);

    $removeFormButton.on('click', function(e) {
        // remove the li for the tag form
        $topicFormLi.remove();
    });
}

function addMentionForm($mentionHolder) {
    // Get the data-prototype explained earlier
    var prototype = $mentionHolder.data('prototype');

    // get the new index
    var index = $mentionHolder.data('index');

    var newForm = prototype;
    newForm = newForm.replace(/__name__/g, index);

    // increase the index with one for the next item
    $mentionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newMentionPreviewLi = $('#mention_index__preview').clone();
    $newMentionPreviewLi.attr("id", $newMentionPreviewLi.attr("id").replace(/_index_/g, index));
    $newMentionPreviewLi.html($newMentionPreviewLi.html().replace(/_index_/g, index));
    $newMentionPreviewLi.removeClass("hidden");
    $newMentionPreviewLi.addClass("mention_preview");


    var $newMentionCheckboxesLi = $('#mentionCheckBoxes_index_').clone();
    $newMentionCheckboxesLi.attr("id", $newMentionCheckboxesLi.attr("id").replace(/_index_/g, index));
    $newMentionCheckboxesLi.html($newMentionCheckboxesLi.html().replace(/_index_/g, index));
    $newMentionCheckboxesLi.removeClass("hidden");
    $newMentionCheckboxesLi.addClass("mentionCheckboxes");

    var $newMentionFormLi = $('<li id="mention'+index+'" class="newMention"></li>').append(newForm);

    $mentionHolder.append($newMentionPreviewLi);
    $mentionHolder.append($newMentionCheckboxesLi);
    $mentionHolder.append($newMentionFormLi);
    addMentionFormDeleteLink($newMentionPreviewLi, index);

    actorAutocomplete($('#source_mentions_'+index+'_actorText'), $('#source_mentions_'+index+'_actor'),'/autocomplete/actor');
    placeAutocomplete($('#source_mentions_'+index+'_eventPlaceText'), $('#source_mentions_'+index+'_eventPlace'),'/autocomplete/place');
    institutionAutocomplete($('#source_mentions_'+index+'_institutionText'), $('#source_mentions_'+index+'_institution'),'/autocomplete/institution');

    // add a delete link to the new form
}

function cloneMention($mentionHolder, originalIndex){
    // Get the data-prototype explained earlier
    var prototype = $mentionHolder.data('prototype');

    // get the new index
    var index = $mentionHolder.data('index');

    var newForm = prototype;
    newForm = newForm.replace(/__name__/g, index);

    // increase the index with one for the next item
    $mentionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newMentionPreviewLi = $('#mention'+originalIndex+'_preview').clone();
    $newMentionPreviewLi.attr("id", $newMentionPreviewLi.attr("id").replace(originalIndex+"_", index+"_"));
    $newMentionPreviewLi.html($newMentionPreviewLi.html().replace(originalIndex, index));
    $newMentionPreviewLi.removeClass("hidden");
    $newMentionPreviewLi.addClass("mention_preview");


    var $newMentionCheckboxesLi = $('#mentionCheckBoxes'+originalIndex).clone();
    $newMentionCheckboxesLi.attr("id", $newMentionCheckboxesLi.attr("id").replace(originalIndex, index));
    $newMentionCheckboxesLi.html($newMentionCheckboxesLi.html().replace(originalIndex, index));
    $newMentionCheckboxesLi.removeClass("hidden");
    $newMentionCheckboxesLi.addClass("mentionCheckboxes");

    var $newMentionFormLi = $('<li id="mention'+index+'" class="newMention"></li>').append(newForm);

    $mentionHolder.append($newMentionPreviewLi);
    $mentionHolder.append($newMentionCheckboxesLi);
    $mentionHolder.append($newMentionFormLi);

    // add cloned data
    $('#source_mentions_'+index+'_verb').val($('#source_mentions_'+originalIndex+'_verb').val());
    $('#source_mentions_'+index+'_text_date').val($('#source_mentions_'+originalIndex+'_text_date').val());
    $('#source_mentions_'+index+'_time').val($('#source_mentions_'+originalIndex+'_time').val());
    $('#source_mentions_'+index+'_description').val($('#source_mentions_'+originalIndex+'_description').val());
    $('#source_mentions_'+index+'_startPage').val($('#source_mentions_'+originalIndex+'_startPage').val());
    $('#source_mentions_'+index+'_endPage').val($('#source_mentions_'+originalIndex+'_endPage').val());
    $('#source_mentions_'+index+'_actor').val($('#source_mentions_'+originalIndex+'_actor').val());
    $('#source_mentions_'+index+'_actorText').val($('#source_mentions_'+originalIndex+'_actorText').val());
    $('#source_mentions_'+index+'_place').val($('#source_mentions_'+originalIndex+'_place').val());
    $('#source_mentions_'+index+'_placeText').val($('#source_mentions_'+originalIndex+'_placeText').val());
    $('#source_mentions_'+index+'_eventPlace').val($('#source_mentions_'+originalIndex+'_eventPlace').val());
    $('#source_mentions_'+index+'_eventPlaceText').val($('#source_mentions_'+originalIndex+'_eventPlaceText').val());
}

function addMentionFormDeleteLink($previewli) {
    var $removeFormButton = $('<a href="#">delete</a>');
    $previewli.append($removeFormButton);
    var $checkboxesli = $previewli.next();
    var $mentionformli = $checkboxesli.next();

    $removeFormButton.on('click', function(e) {
        // remove the li for the tag form
        $previewli.remove();
        $checkboxesli.remove();
        $mentionformli.remove();
    });
}

$(function(){
    function log( message ) {
        $( "<div>" ).text( message ).prependTo( "#log" );
        $( "#log" ).scrollTop( 0 );
    }

    $("#new_source_topic_topic").autocomplete({
        source: "{{ path('topic_autocomplete') }}",
        minLength: 2,
        focus: function( event, ui ) {
            $("#new_source_topic_topic").val( ui.item.topic? ui.item.topic : "" );
            $( "#new_source_topic_topicId" ).val( ui.item.id? ui.item.id : "" );
            return false;
        },
        select: function( event, ui ) {
            log( ui.item.topic ?
                "Selected: " + ui.item.topic + " aka " + ui.item.id :
                "Nothing selected, input was " + this.value );
            return false;
        }
    })
        .autocomplete( "instance" )._renderItem = function( ul, item ) {
        return $( "<li>" )
            .append( "<div>" + item.topic + "</div>" )
            .appendTo( ul );
    };
});


var $form = $('.box');

var isAdvancedUpload = function() {
    var div = document.createElement('div');
    return (('draggable' in div) || ('ondragstart' in div && 'ondrop' in div)) && 'FormData' in window && 'FileReader' in window;
}();

if (isAdvancedUpload) {
    $form.addClass('has-advanced-upload');

    var droppedFiles = false;

    $form.on('drag dragstart dragend dragover dragenter dragleave drop', function(e) {
        e.preventDefault();
        e.stopPropagation();
    })
        .on('dragover dragenter', function() {
            $form.addClass('is-dragover');
        })
        .on('dragleave dragend drop', function() {
            $form.removeClass('is-dragover');
        })
        .on('drop', function(e) {
            $("input[type='file']")
                .prop("files", e.originalEvent.dataTransfer.files)  // put files into element
                .closest("form")
                .submit();  // autosubmit as well
        });
}
</script>