{% extends 'base.html.twig' %}
{% block title %}Research database -> edit volume{% endblock %}
{% block body %}
    {% form_theme form 'form/editVolumeForm.html.twig' %}

    {% if volume.series %}
        Parent series:
        <a href="{{ path('series_view', {'series_id':volume.series.id}) }}">
            {{ volume.series.name }}
        </a>
    {% endif %}

    <h3>Edit volume</h3>
    <ul>
        <li>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </li>
    </ul>
{% endblock %}